<!--底部开始-->
<div class="footer page">
  <div class="container">
    <div class="logo">
      <a href="./index.html"></a>
    </div>
    <div class="footer-des">
      <div class="footer-nav">
        <ul>
          <li>
            <a href="../about.html">关于至劲</a>
          </li>
          <li>
            <a href="../game-hub.html">游戏中心</a>
          </li>
          <li>
            <a href="../company-news.html">新闻动态</a>
          </li>
          <li>
            <a href="../join-us.html">加入至劲</a>
          </li>
          <li>
            <a href="../about.html#contect">联系我们</a>
          </li>
        </ul>
      </div>
      <div style="clear: both;"></div>
      <p>抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防上当受骗。适度游戏益脑。沉迷游戏伤身。合理安排时间，享受健康生活。</p>
      <p>
        <span> Copyright © 2017-2018 www.gowan8.com All rights reserved. </span> |
        <span>地址：广州市天河区中山大道西1132号汇鑫商业大厦6楼 </span> |
        <span>电话：020-83939553</span>
      </p>
    </div>
  </div>
</div>
<!--底部结束-->